/* style.css */

.accordion h1{
    text-align: left;
}
body {
    background-color: rgb(17, 58, 17);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
    margin: 0 auto;
    background: #e0e0e0;
    padding-bottom: .25em;
}

h1, h4 {
    text-align: center;
    margin-bottom: .5em;
}

h1 {
    margin-top: 1em;
}

.mainimg {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 150px;
}

.jumbotron hr.my-2 {
    background: rgb(42, 46, 59);
    background: linear-gradient(90deg, rgba(42, 46, 59, 1) 11%, rgba(252, 199, 69, 1) 60%, rgba(216, 42, 19, 1) 99%);
    height: .25em;
}

.jumbotron, .jumbotron h1, .jumbotron p, .jumbotron hr {
    background-color: #2a2e3b;
    color: white;
}

.jumbotron h1 {
    margin-top: .5em;
}

.navbar {
    background-color: #2a2e3b;
    border-radius: 5px;
}

nav .navbar-nav li a {
    color: white !important;
    transition: all .1s ease-in-out;
}

nav .navbar-nav li a:hover {
    transform: scale(1.05);
}

nav .dropdown-menu {
    background: rgb(31, 31, 41);
}

nav .dropdown-menu a{
    transition: all .2s ease-in-out;
}

nav .dropdown-menu a:hover{
    background-color: rgb(31, 31, 41);
    transform: scale(1.05);
    filter: drop-shadow(0px 1px 3px rgb(139, 141, 173));
}

.btn-secondary {
    background-color: #323644;
    transition: all .2s ease-in-out;
}

.btn-secondary:hover{
    background-color: rgb(20, 97, 27);
    transform: scale(1.05);
}

.acordion, .acordion h1 {
    background-color: #2a2e3b;
}

.card {
    border-radius: 5px;
}

.card-header {
    background-color: #2a2e3b;
}

.card-header button:hover{
    color: white;
    transform: scale(1.2);
    text-decoration: none;
}

.card-header button {
    color: white;
    transition: all .2s ease-in-out;
}

select{
    transition: all .2s ease-in-out;
}

select:hover{
    transform: scale(1.02);
    filter: drop-shadow(0px 1px 3px rgb(139, 141, 173));
}

input.temp{
    transition: all .1s ease-in-out;
}

input.temp:hover{
    transform: scale(1.02);
    filter: drop-shadow(0px 1px 3px rgb(139, 141, 173));
}

.card-header button i{
    transition: .2s ease-in-out;
}

.card-header button:hover i{
    transform: rotateZ(45deg);
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

footer{
    text-align: center;
    color: white;
    background-color: #2a2e3b;
    padding-top: 1em;
    border-radius: 5px;
    margin-top: 2.5em;
}